@import "tailwindcss";

@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

:root {
  --background: #F4F2EE;
  --foreground: #1D232B;
  --orange500: #FE6C11;
  --background-dark: #EBE8E4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-dark: var(--background-dark);
  --color-orange500: var(--orange500);
  --font-sans: var(--font-sans);  
}

@layer utilities {
  .font-gmarket {
    font-family: 'GmarketSans', sans-serif;
  }
}